# Mysql

### pymysql

In [2]:
import pymysql

In [20]:
con = pymysql.connect(host="127.0.0.1", user="root", password="#####", db="shopDB", charset="utf8")
cur = con.cursor()

# cur.execute("CREATE TABLE peopleTBL (memberID char(4), memberName char(15), memberEmail char(15), birthYear int)")

while True:
    data1 = input("아이디를 입력하세요 ==> ")
    if data1 == "":
        break
    data2 = input("이름을 입력해주세요 ==> ")
    data3 = input("이메일을 입력해주세요 ==> ")
    data4 = input("출생연도를 입력해주세요 ==> ")
    cur.execute("INSERT INTO peopleTBL VALUES('"+data1+"', '"+data2+"', '"+data3+"', "+data4+")")

con.commit()

In [21]:
cur.execute("SELECT * FROM peopleTBL")

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1} {data2} {data3} {data4}")

kim 김태연 ttt@hanmail.net 2013
star 별사랑 ti@ts.com 2001
yang 양지은 eee@naver.com 2008
hong 홍지윤 help@naver.com 1996

In [19]:
cur.execute("DELETE FROM peopleTBL WHERE memberName = '홍지윤'")

con.commit()

cur.execute("SELECT * FROM peopleTBL")

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1} {data2} {data3} {data4}")

kim 김태연 ttt@hanmail.net 2013
star 별사랑 ti@ts.com 2001
yang 양지은 eee@naver.com 2008

In [22]:
cur.execute("SELECT memberID, birthYear FROM peopleTBL WHERE memberName = '김태연'")

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    print(f"{data1} {data2}")

con.close()

kim 2013

### 과제
- 주소록을 입력받아 결과를 출력
- 메인 메뉴
    - 입력
        - 이름:
        - 나이:
        - 주소:
    - 출력
        - table 형태로 출력
    - 검색
        - 이름 입력
    - 종료

In [1]:
import pymysql

In [5]:
con = pymysql.connect(host="127.0.0.1", user="root", password="#####", db="shopDB", charset="utf8")
cur = con.cursor()
cur.execute("DROP TABLE addressBook")

0

In [2]:
def address_book():
    con = pymysql.connect(host="127.0.0.1", user="root", password="#####", db="shopDB", charset="utf8")
    cur = con.cursor()
    cur.execute("CREATE TABLE addressBook (userName char(10), age int, userAddress char(15))")

    while True:
        print("메인 메뉴)")
        print("\t1. 입력 \n\t2. 출력 \n\t3. 검색 \n\t4. 종료 \n")
        num = int(input("번호를 입력하세요: "))

        if num == 4:
            break
        else:
            if num == 1:
                while True:
                    data1 = input("이름: ")
                    data2 = input("나이: ")
                    data3 = input("주소: ")
                    cur.execute("INSERT INTO addressBook VALUES('"+data1+"', "+data2+", '"+data3+"')")
                    continue_ = input("계속 입력하시겠습니까 (y/n)? ")

                    if continue_ == 'n':
                        con.commit()
                        break
            elif num == 2:
                cur.execute("SELECT * FROM addressBook")
                print('-' * 30)
                print("   이름   나이       주소")
                print('-' * 30)
                while True:
                    row = cur.fetchone()
                    if row == None:
                        break
                    data1 = row[0]
                    data2 = row[1]
                    data3 = row[2]
                    print(f"  {data1}   {data2}    {data3}")
                print()
            else:
                name = input("검색할 이름을 입력하세요: ")
                print('-' * 30)
                print("   이름   나이       주소")
                print('-' * 30)
                cur.execute("SELECT * FROM addressBook WHERE userName = %s", [name])
                row = cur.fetchone()
                if row == None:
                    break
                data1 = row[0]
                data2 = row[1]
                data3 = row[2]
                print(f"  {data1}   {data2}    {data3}")
                print()
    con.close()

In [6]:
address_book()

메인 메뉴)
	1. 입력
	2. 출력
	3. 검색
	4. 종료

메인 메뉴)
	1. 입력
	2. 출력
	3. 검색
	4. 종료

------------------------------
   이름   나이       주소
------------------------------
  김효준   24    경기도 안산시
  홍길동   37    서울시
  최철수   16    부산시

메인 메뉴)
	1. 입력
	2. 출력
	3. 검색
	4. 종료

------------------------------
   이름   나이       주소
------------------------------
  최철수   16    부산시

메인 메뉴)
	1. 입력
	2. 출력
	3. 검색
	4. 종료