# Mysql

### 연결

In [2]:
import pymysql

In [12]:
con = pymysql.connect(host="127.0.0.1", user="root", password="mkhj1594", db="shopDB", charset="utf8")
cur = con.cursor()

# cur.execute("CREATE TABLE peopleTBL (memberID char(4), memberName char(15), memberEmail char(15), birthYear int)")

while True:
    data1 = input("아이디를 입력하세요 ==> ")
    if data1 == "":
        break
    data2 = input("이름을 입력해주세요 ==> ")
    data3 = input("이메일을 입력해주세요 ==> ")
    data4 = input("출생연도를 입력해주세요 ==> ")
    cur.execute("INSERT INTO peopleTBL VALUES('"+data1+"', '"+data2+"', '"+data3+"', "+data4+")")

con.commit

cur.execute("SELECT * FROM peopleTBL")

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1} {data2} {data3} {data4}")

con.close()