# MID project DA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

### 1. data

##### 1. 인구 이동 데이터

In [15]:
data_trans = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\시군구별_이동자수.csv'
df_trans = pd.read_csv(data_trans)
df_trans.head()

,행정구역(시군구)별,2023.01,2023.01.1,2023.01.2,2023.01.3,2023.01.4,2023.01.5,2023.01.6,2023.01.7,2023.02,...,2021.6,2021.7,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7
0,행정구역(시군구)별,총전입 (명),총전출 (명),순이동 (명),시도내이동-시군구내 (명),시도내이동-시군구간 전입 (명),시도내이동-시군구간 전출 (명),시도간전입 (명),시도간전출 (명),총전입 (명),...,시도간전입 (명),시도간전출 (명),총전입 (명),총전출 (명),순이동 (명),시도내이동-시군구내 (명),시도내이동-시군구간 전입 (명),시도내이동-시군구간 전출 (명),시도간전입 (명),시도간전출 (명)
1,전국,506100,506100,0,164141,145923,145923,196036,196036,622411,...,2447234,2447234,6152155,6152155,0,2173548,1805002,1805002,2173605,2173605
2,서울특별시,91225,94248,-3023,19465,35007,35007,36753,39776,126733,...,461123,567366,1201527,1236867,-35340,302805,468146,468146,430576,465916
3,부산광역시,31180,31800,-620,8601,12723,12723,9856,10476,40851,...,116166,135069,383848,397410,-13562,109335,169621,169621,104892,118454
4,대구광역시,22316,22557,-241,5853,8343,8343,8120,8361,26929,...,83076,107395,265354,276873,-11519,81016,102771,102771,81567,93086

In [19]:
data_trans_age = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\Sigungu_age_trans.csv'
df_trans_age = pd.read_csv(data_trans_age, encoding='cp949')
df_trans_age.drop('Unnamed: 66', axis=1, inplace=True)
df_trans_age.head()

,행정구역(시군구)별,연령별,항목,단위,2023.01 월,2023.02 월,2023.03 월,2023.04 월,2023.05 월,2023.06 월,...,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년,2022 년
0,전국,계,총전입[명],명,506100,622411,588958,455474,497285,473480,...,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422,6152155
1,전국,계,총전출[명],명,506100,622411,588958,455474,497285,473480,...,7411784,7629098,7755286,7378430,7154226,7297099,7104398,7735491,7213422,6152155
2,전국,계,순이동[명],명,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,전국,계,시도내이동-시군구내[명],명,164141,187696,195928,161731,180983,173203,...,2864028,2957867,3014020,2840295,2701400,2776681,2659826,2926406,2649108,2173548
4,전국,계,시도내이동-시군구간 전입[명],명,145923,183174,171026,136415,148019,140977,...,2124327,2163435,2189842,2084793,2041896,2091234,2059624,2274971,2117080,1805002

### 2. DA

##### 1. 인구 이동 추이

In [ ]:
re.findall('')

In [29]:
# 순이동량

columns = re.findall(, df_trans.columns)
df_trans_diff =

,행정구역(시군구)별,2023.01,2023.01.1,2023.01.2,2023.01.3,2023.01.4,2023.01.5,2023.01.6,2023.01.7,2023.02,...,2021.6,2021.7,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7
0,행정구역(시군구)별,총전입 (명),총전출 (명),순이동 (명),시도내이동-시군구내 (명),시도내이동-시군구간 전입 (명),시도내이동-시군구간 전출 (명),시도간전입 (명),시도간전출 (명),총전입 (명),...,시도간전입 (명),시도간전출 (명),총전입 (명),총전출 (명),순이동 (명),시도내이동-시군구내 (명),시도내이동-시군구간 전입 (명),시도내이동-시군구간 전출 (명),시도간전입 (명),시도간전출 (명)
1,전국,506100,506100,0,164141,145923,145923,196036,196036,622411,...,2447234,2447234,6152155,6152155,0,2173548,1805002,1805002,2173605,2173605
2,서울특별시,91225,94248,-3023,19465,35007,35007,36753,39776,126733,...,461123,567366,1201527,1236867,-35340,302805,468146,468146,430576,465916
3,부산광역시,31180,31800,-620,8601,12723,12723,9856,10476,40851,...,116166,135069,383848,397410,-13562,109335,169621,169621,104892,118454
4,대구광역시,22316,22557,-241,5853,8343,8343,8120,8361,26929,...,83076,107395,265354,276873,-11519,81016,102771,102771,81567,93086
5,인천광역시,30920,28525,2395,8797,8747,8747,13376,10981,38362,...,155824,144401,395140,367039,28101,123107,116812,116812,155221,127120
6,광주광역시,13713,14728,-1015,4163,4449,4449,5101,6116,17137,...,64721,70604,182924,190566,-7642,62460,65006,65006,55458,63100
7,대전광역시,17265,17351,-86,4361,5374,5374,7530,7616,20924,...,80030,88961,198705,201701,-2996,56435,66849,66849,75421,78417
8,울산광역시,8741,9304,-563,2451,2682,2682,3608,4171,10365,...,39412,53086,107747,117283,-9536,35345,35818,35818,36584,46120
9,세종특별자치시,6221,5459,762,2113,0,0,4108,3346,6991,...,46875,32790,65529,55401,10128,25292,0,0,40237,30109
10,경기도,138044,131506,6538,49237,40497,40497,48310,41772,161815,...,670399,519882,1645990,1602108,43882,627887,476258,476258,541845,497963
11,강원특별자치도,14581,15097,-516,5545,2728,2728,6308,6824,17341,...,83458,76777,194864,187370,7494,87946,31044,31044,75874,68380
12,충청북도,16205,16268,-63,7406,1949,1949,6850,6913,18610,...,82870,79408,185419,180218,5201,86905,22333,22333,76181,70980
13,충청남도,24994,24311,683,9469,4628,4628,10897,10214,28380,...,125686,117164,260488,246174,14314,99469,44323,44323,116696,102382
14,전라북도,17200,17690,-490,7552,4269,4269,5379,5869,19682,...,61478,67279,199432,204547,-5115,99552,44369,44369,55511,60626
15,전라남도,16554,16528,26,5982,3617,3617,6955,6929,19617,...,85048,89535,191956,192301,-345,76588,39728,39728,75640,75985
16,경상북도,22636,24286,-1650,8432,4424,4424,9780,11430,27074,...,130456,127119,263156,270822,-7666,104875,48269,48269,110012,117678
17,경상남도,26104,27646,-1542,10521,5632,5632,9951,11493,31893,...,123510,137213,323211,341758,-18547,151073,65196,65196,106942,125489
18,제주특별자치도,8201,8796,-595,4193,854,854,3154,3749,9707,...,37102,33185,86865,83717,3148,43458,8459,8459,34948,31800

# MID Project Employ DA

### 1. data

##### 1. 행정구역(시도)/산업별 취업자 (단위: 천명)
- 시도별 산업 종사자 격차 파악 (산업별 현황 비율)
- 년도별, 시도별 취업자 수 변화량과 추이
- 산업별 가중치?

In [2]:
data1 = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\행정구역_시도__산업별_취업자.csv'
df_emp = pd.read_csv(data1)
df_emp.head()

,시도별,산업별,2023.01,2023.02,2023.03,2023.04,2023.05,2023.06,2023.07,2023.08,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,계,계,27363,27714,28223,28432,28835,28812,28686,28678,...,25299,25897,26178,26409,26725,26822,27123,26904,27273,28089
1,계,"A 농업, 임업 및 어업(01~03)",1199,1231,1438,1557,1654,1663,1622,1644,...,1513,1446,1337,1273,1279,1340,1395,1445,1458,1526
2,계,"* 광공업(B,C)",4438,4429,4470,4428,4474,4498,4493,4468,...,4322,4471,4618,4603,4589,4529,4444,4389,4380,4512
3,계,B 광업(05~08),7,7,8,7,9,10,7,8,...,16,13,14,19,23,19,15,13,12,9
4,계,C 제조업(10~34),4432,4423,4463,4421,4464,4488,4485,4460,...,4307,4459,4604,4584,4566,4510,4429,4376,4368,4503

- 행정구역(시도)/산업별 취업자 연령별

In [20]:
data2 = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\산업별 취업자_성_연령별.csv'
df_emp_age = pd.read_csv(data2, encoding='cp949')
df_emp_age.drop('Unnamed: 25', axis=1, inplace=True)
df_emp_age.head()

,성별,행정구역별,연령별,항목,단위,2013. 1/2,2013. 2/2,2014. 1/2,2014. 2/2,2015. 1/2,...,2018. 1/2,2018. 2/2,2019. 1/2,2019. 2/2,2020. 1/2,2020. 2/2,2021. 1/2,2021. 2/2,2022. 1/2,2022. 2/2
0,전체,전국,계,합계,NaN,25186.58626,25657.67830,25834.60370,26099.03937,25991.48465,...,26711.29366,26924.74284,26870.72813,27346.83918,26397.32881,26916.90112,27213.59232,27740.74699,28078.30968,28417.86366
1,전체,전국,계,농림어업,NaN,1585.58672,1742.63917,1556.08159,1602.28053,1421.76187,...,1393.56601,1492.53897,1406.33668,1551.32599,1479.33688,1573.95216,1476.33225,1593.99323,1544.66108,1640.60640
2,전체,전국,계,광업,NaN,17.51169,14.84445,14.07833,8.68305,13.35277,...,22.30169,14.89440,15.10557,14.85899,14.79954,10.5006,12.76848,10.66067,13.10791,6.12520
3,전체,전국,계,제조업,NaN,4255.06091,4279.32812,4360.50622,4419.64827,4507.11464,...,4417.74344,4454.14493,4365.90571,4381.63380,4322.13703,4283.33287,4386.11068,4323.55863,4517.98609,4524.94367
4,전체,전국,계,"전기,가스,증기 및 수도사업",NaN,89.55611,88.43435,83.69547,86.08151,93.61092,...,91.67292,84.63680,85.23512,88.89853,83.41409,93.8141,64.53602,76.66299,76.05670,84.03880

##### 2. 전국 시군구 단위 소득 구간대별 주민 비율
- 소득 2천만원 주민 비율 ~ 소득 7천만원 이상 주민 비율
- 2023.09

In [5]:
data3 = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\시군구단위소득구간대.csv'
df_inc = pd.read_csv(data3)
df_inc.head()

,BASE_YM,SIGNGU_NM,SIGNGU_CD,INCOME_TWO_TMW_INHBT_RATE,INCOME_THREE_TMW_INHBT_RATE,INCOME_FOUR_TMW_INHBT_RATE,INCOME_FIVE_TMW_INHBT_RATE,INCOME_SIX_TMW_INHBT_RATE,INCOME_SEVEN_TMW_INHBT_RATE,INCOME_SEVEN_TMW_ABOVE_INHBT_RATE
0,202309,강원특별자치도 강릉시,51150,0.15,0.37,0.25,0.11,0.05,0.03,0.04
1,202309,강원특별자치도 고성군,51820,0.18,0.42,0.23,0.08,0.04,0.02,0.03
2,202309,강원특별자치도 동해시,51170,0.14,0.36,0.26,0.11,0.06,0.03,0.05
3,202309,강원특별자치도 삼척시,51230,0.16,0.38,0.24,0.10,0.05,0.03,0.04
4,202309,강원특별자치도 속초시,51210,0.14,0.37,0.27,0.11,0.05,0.03,0.04

- 평균 임금 데이터

In [11]:
data4 = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\시군구평균임금.csv'
df_inc_mean = pd.read_csv(data4)
df_inc_mean.head()

   BASE_YM    SIGNGU_NM  SIGNGU_CD  AVRG_INCOME_PRICE
0   202309  강원특별자치도 강릉시      51150              34650
1   202309  강원특별자치도 고성군      51820              31933
2   202309  강원특별자치도 동해시      51170              35029
3   202309  강원특별자치도 삼척시      51230              33474
4   202309  강원특별자치도 속초시      51210              34371

##### 3. 임금 근로 일자리 동향 행정

In [23]:
data5 = r'C:\Users\jjjun_ii\Documents\GitHub\LIKELION_AI\Project\MID_PROJECT\data\임금근로일자리동향.csv'
df_worksup = pd.read_csv(data5, encoding='cp949')
df_worksup.drop('Unnamed: 26', axis=1, inplace=True)
df_worksup.head()

,연령별,산업대분류별,일자리형태별,항목,단위,2018.1/4,2018.2/4,2018.3/4,2018.4/4,2019.1/4,...,2020.4/4,2021.1/4,2021.2/4,2021.3/4,2021.4/4,2022.1/4,2022.2/4,2022.3/4,2022.4/4,2023.1/4
0,총 계,총 계,총 계,임금근로 일자리수[만개],만개,1774.5,1822.1,1810.4,1849.4,1824.8,...,1958.9,1899.7,1957.7,1959.9,1996.5,1974.9,2020.5,2019.6,2045.6,2020.7
1,총 계,총 계,총 계,산업별 구성비[%],%,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2,총 계,총 계,총 계,형태별 구성비[%],%,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3,총 계,총 계,지속,임금근로 일자리수[만개],만개,1203.7,1226.6,1225.1,1240.8,1235.4,...,1357.3,1350.0,1362.6,1363.9,1380.6,1370.4,1396.7,1398.9,1417.6,1416.2
4,총 계,총 계,지속,산업별 구성비[%],%,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0

##### 4. 일자리의 질 지수 산출 데이터

### 2. DA

##### 1. 산업별 취업자

In [24]:
df_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시도별      180 non-null    object
 1   산업별      180 non-null    object
 2   2023.01  180 non-null    int64
 3   2023.02  180 non-null    int64
 4   2023.03  180 non-null    int64
 5   2023.04  180 non-null    int64
 6   2023.05  180 non-null    int64
 7   2023.06  180 non-null    int64
 8   2023.07  180 non-null    int64
 9   2023.08  180 non-null    int64
 10  2023.09  180 non-null    int64
 11  2013     180 non-null    object
 12  2014     180 non-null    object
 13  2015     180 non-null    object
 14  2016     180 non-null    object
 15  2017     180 non-null    int64
 16  2018     180 non-null    int64
 17  2019     180 non-null    int64
 18  2020     180 non-null    int64
 19  2021     180 non-null    int64
 20  2022     180 non-null    int64
dtypes: int64(15), object(6)
memory usage: 29.7+ KB

In [25]:
df_emp_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   성별         8316 non-null   object
 1   행정구역별      8316 non-null   object
 2   연령별        8316 non-null   object
 3   항목         8316 non-null   object
 4   단위         0 non-null      float64
 5   2013. 1/2  7854 non-null   float64
 6   2013. 2/2  7854 non-null   float64
 7   2014. 1/2  7854 non-null   float64
 8   2014. 2/2  7854 non-null   float64
 9   2015. 1/2  7854 non-null   float64
 10  2015. 2/2  7854 non-null   float64
 11  2016. 1/2  7854 non-null   float64
 12  2016. 2/2  7854 non-null   float64
 13  2017. 1/2  8316 non-null   float64
 14  2017. 2/2  7931 non-null   float64
 15  2018. 1/2  8316 non-null   float64
 16  2018. 2/2  8316 non-null   float64
 17  2019. 1/2  8316 non-null   float64
 18  2019. 2/2  8316 non-null   float64
 19  2020. 1/2  8316 non-null   float64
 20  2020. 2/2  8316 non-null   object
 21  2021. 1/2  8316 non-null   object
 22  2021. 2/2  8316 non-null   float64
 23  2022. 1/2  8316 non-null   float64
 24  2022. 2/2  8316 non-null   float64
dtypes: float64(19), object(6)
memory usage: 1.6+ MB