# SQLite
- sqlite는 파이썬에 내장되어 있음

### 데이터 입력

In [3]:
import sqlite3

# 변수 선언 부분
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql = ""

# 메인 코드 부분
con = sqlite3.connect("naverDB")
cur = con.cursor()

while True:
    data1 = input("사용자 ID ==> ")
    if data1 == "":
        break
    data2 = input("사용자 이름 ==> ")
    data3 = input("사용자 이메일 ==> ")
    data4 = input("사용자 출생연도 ==> ")

    # SQL 문법 + python
    sql = "INSERT INTO userTable VALUES('" + data1 + "', '" + data2 + "', '" + data3 + "', " + data4 + ")"
    cur.execute(sql)

# DB에 반영
con.commit()

con.close()

### 데이터 조회

In [7]:
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

con = sqlite3.connect("naverDB")
cur = con.cursor()

cur.execute("SELECT * FROM userTable")

print("사용자ID  사용자이름  이메일  출생연도")
print('-'*30)

while True:
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1} {data2} {data3} {data4}")

con.close()

사용자ID  사용자이름  이메일  출생연도
------------------------------
john john Bann john@naver.com 1990
lee Lee Pal lee@paran.com 1988
hyo Hyo Jun magic@naver.com 1999