# 파이썬 문법

## 5. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정

- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입 결정
    ```python
    a = 1 
    ```
- 정적타이핑
    - 변수 선언시 데이터 타입을 직접 설정 후 할당
    ```python
    int a = 1 
    ```

- 데이터 타입 
    - int, float, str, bool
    - list, tuple, dict

In [29]:
a = 1 # integer 정수
b = 'python' # string 문자(글자)

type(a), type(b)

(int, str)

### 5-1. 기본 데이터 타입
- int: 정수
    - 1, 2, 3 
- float: 소수점
    - 1.0, 3.14, -5.0
- str: 문자(글자)
    - "python", 'string', """three""", '''four'''
- bool: 논리값
    - True False

In [30]:
a = 1 
b = 1.2 
c = "True"
d = True
f = '1.2'

In [31]:
type(a), type(b), type(c), type(d), type(f)

(int, float, str, bool, str)

In [33]:
print(a == b)
print(a == a)

False
True

In [34]:
print(a + 1)

2

In [35]:
print(b + 1)

2.2

In [37]:
print(c + 1)  # int 와 str 은 연산이 불가능

TypeError: can only concatenate str (not "int") to str

In [41]:
# 논리형 데이터는 연산이 가능합니다. 
# True = 1 
# d + 1 => 1 + 1 
print(d + 1)

2

In [42]:
# False = 0 
# False + 2 => 0 + 2
print(False + 2)

2

### 5-2. 컨테이너 데이터 타입
- list: 여러 개의 값을 순서대로 담을 수 있고, 수정이 가능한 데이터 타입
- tuple: 리스트와 동일한 성격을 가지는데, 수정이 불가능한 데이터 타입
- dict: 순서가 없고 키(key) 와 값(value)의 쌍으로 이루어진 데이터 타입

In [43]:
# list 
li = [1, 2, 3]
print(li)

[1, 2, 3]

In [44]:
type(li)

list

In [45]:
# tuple 
tp = (1, 2, 3)
print(tp), type(tp)

(1, 2, 3)

(None, tuple)

In [46]:
# dict
dic = {"key": "value"}
print(dic)

{'key': 'value'}

---

In [2]:
# 1. 리스트 데이터 생성
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]

In [3]:
# 2. 리스트 길이 확인
len(my_li)

10

In [4]:
# 3. 리스트에 값 추가
# append()

my_li.append(111)

In [5]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111]

In [6]:
len(my_li)

11

In [7]:
# 4. 데이터 2개 이상 추가
my_li.append([112, 113])

In [8]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113]]

In [9]:
# extend()
my_li.extend([14, 15])
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [10]:
# insert()
my_li.insert(1, 10)

In [11]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [12]:
# 5. 리스트에 특정 값이 있는지 확인!
# 'value' in list 
print(10 in my_li)
print(999 in my_li)

True
False

In [13]:
# 6. 리스트에서 특정 값 제거
# remove()
my_li.remove(45)

In [14]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [112, 113], 14, 15]

In [15]:
my_li.remove([112])

ValueError: list.remove(x): x not in list

In [16]:
# 인덱싱 작업을 통해 112 데이터를 삭제
my_li[-3].remove(112)

In [17]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [113], 14, 15]

In [18]:
my_li.remove([113])

In [19]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, 14, 15]

In [20]:
# 7. 리스트에서 특정 값 갯수 세기
# count() 

my_li.count(111)

3

In [21]:
my_li.count(5)

1

In [22]:
my_li.count(6)

1

In [23]:
my_li.count(999)

0

In [24]:
# 8. 리스트 오름차순 정렬
# sort()

In [25]:
my_li.sort()
print(my_li)

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111, 111]

In [26]:
# 9. 리스트 데이터 복사
# 얕은복사와 깊은복사

- 얕은복사: 원본 데이터에 영향을 줍니다
- 깊은복사: 원본 데이터에 영향을 주지 않습니다

In [27]:
li1 = [4, 1, 10]
li2 = li1

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [28]:
# li2 리스트 데이터 정렬
li2.sort()

In [29]:
print(li2)

[1, 4, 10]

In [30]:
print(li1)

[1, 4, 10]

In [31]:
# 깊은 복사 
import copy 

li1 = [4, 1, 10]
li2 = copy.deepcopy(li1)  # 깊은복사

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [32]:
li2.sort()
print(li2)

[1, 4, 10]

In [33]:
print(li1)

[4, 1, 10]

In [34]:
# 10. pop()
# 가장 마지막 데이터를 출력하고, 
# 출력한 데이터를 리스트에서 삭제

In [35]:
my_li

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111, 111]

In [36]:
my_li.pop()  # ctrl(cmd) + enter

111

In [37]:
my_li

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111]

In [38]:
# 11. index()

my_li.index(3)

2

In [106]:
# 12. 리스트끼리 연산

a_li = [1, 2, 3]
b_li = [7, 8, 9]

print(a_li + b_li)

[1, 2, 3, 7, 8, 9]

In [107]:
# 13. 리스트에는 여러 데이터 타입을 할당 할 수 있습니다

li = [1, 2, "3", [5, 6], (7, 8), {"key":"value"}, True, False]

In [109]:
print(li)

[1, 2, '3', [5, 6], (7, 8), {'key': 'value'}, True, False]

In [110]:
# 14. 인덱싱 (별표 백만개)

In [113]:
print(type(li[2]))

<class 'str'>

In [116]:
li[3], type(li[3])

([5, 6], list)

In [117]:
li[3:5]

[[5, 6], (7, 8)]

In [118]:
li[1:6]

[2, '3', [5, 6], (7, 8), {'key': 'value'}]

In [119]:
li[1:6:2]

[2, [5, 6], {'key': 'value'}]

---

## 리스트 인덱싱과 슬라이싱 연습!
- 인덱싱(indexing)
    - 단일 요소를 선택할 때 인덱싱
    - 리스트에서 특정 위치에 있는 요소에 접근하는 것을 의미
    - 인덱스는 0부터 시작하며, list[]를 사용해서 특정 위치 요소를 가져옵니다
    - 예: my_li[2] 는 my_li의 세 번째 요소를 가져옵니다.
    - 요소(element): 리스트가 가지고 있는 데이터 하나 하나를 의미
- 슬라이싱(slicing)
    - 연속된 범위의 요소를 선택하기 위해 사용
    - list[start:end:strid]
    - start 인덱스는 값이 포함되고, end 인덱스는 값이 포함되지 않습니다
    - 예: my_li[1:4] 는 my_li의 두 번째 요소부터 네 번째 요소까지를 가져옵니다

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_str = "Hello, World!"

In [122]:
my_list[1]

20

In [124]:
my_list[0:3]

[10, 20, 30]

In [128]:
my_list[::2]

[10, 30, 50, 70, 90]

In [131]:
# mission 1 
# 90 값을 출력해주세요
my_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [133]:
my_list[8]

90

In [134]:
my_list[-2]

90

In [136]:
# 문자열에서 세 번째 문자에 접근하기
my_str

'Hello, World!'

In [138]:
my_str[3]

'l'

In [139]:
my_str[2]

'l'

In [140]:
# 1. 숫자 리스트에서 인덱스 2부터 6까지 출력하기

In [141]:
my_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [142]:
my_list[2:6]

[30, 40, 50, 60]

In [143]:
my_list[2:7]

[30, 40, 50, 60, 70]

In [144]:
print(my_str)

Hello, World!

In [145]:
my_str

'Hello, World!'

In [5]:
# 인덱싱을 이용한 리스트 데이터 값 수정
my_list[2] = 300

In [6]:
my_list

[10, 20, 300, 40, 50, 60, 70, 80, 90, 100]

## 5-3. tuple ()
- 리스트와 동일한 성격
- 튜플은 데이터 수정이 불가능
- 튜플은 리스트보다 같은 데이터를 가졌을 때 메모리 공간을 더 적게 사용

In [11]:
#tuple
tp1 = (1, 2, 3)
tp2 = (4, 5, 6)
tp3 = 7, 8, 9

In [12]:
print(tp1), type(tp2)

(1, 2, 3)

(None, tuple)

In [13]:
print(tp3), type(tp3)

(7, 8, 9)

(None, tuple)

In [22]:
# 리스트와 튜플의 저장공간 차이 비교

import sys

li = [1, 2, 3]
tp = (1, 2, 3)

In [24]:
print(sys.getsizeof(li))
print(sys.getsizeof(tp))

88
64

In [25]:
li[1] = 10

In [26]:
print(li)

[1, 10, 3]

In [27]:
tuple[1] = 10

TypeError: 'type' object does not support item assignment

## 5-4. dictionary{}
- 순서가 없고 {"key":"value"}로 구성되어 있는 데이터 타입

In [28]:
dic = {1:"one", "two":2, "three":[1, 2, 3], "four":"python", "five":(1, 2, 3)}

In [29]:
print(dic)

{1: 'one', 'two': 2, 'three': [1, 2, 3], 'four': 'python', 'five': (1, 2, 3)}

In [36]:
# 인덱싱이 아닌 key 값으로 접근
print(dic[1])
print(dic[0])

one

KeyError: 0

In [40]:
dic["two"]

2

In [45]:
# key로 value에 접근해서 value를 변경
# key는 수정이 불가능

dic["two"] = 123

In [43]:
print(dic)

{1: 'one', 'two': 123, 'three': [1, 2, 3], 'four': 'python', 'five': (1, 2, 3)}

In [47]:
# key 값에는 리스트 불가 단일 데이터

{[1, 2, 3]: "value"}

TypeError: unhashable type: 'list'

In [48]:
# 도시: seoul, daegu, busan
# 인구: 500, 300, 200

In [49]:
# dictionary
data = {"seoul":500, "daegu":300, "busan": 200}
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

In [50]:
#list
city = ["seoul", "daegu", "busan"]
pop = [500, 300, 200]

In [53]:
# zip(list1, list2)
data = dict(zip(city, pop))
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

## 6. 형변환
- 데이터 타입 변화
- int, float, str, bool, list, tuple, dict

In [55]:
a = 1
b = "2"

In [56]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
a + int(b)

3

In [66]:
print(int(a) + int(b))
print(float(a) + float(b))
print(int(a) + float(b)) # 정수 소수 연산은 소수
print(str(a) + b)
print(type(str(a) + b))
print(int(str(a) + b))
print(type(int(str(a) + b)))

3
3.0
3.0
12
<class 'str'>
12
<class 'int'>

In [69]:
# 형변환이 안 되는 경우
text = "python"
int(text)

ValueError: invalid literal for int() with base 10: 'python'

## 7. 연산자의 종류와 우선순위
- 괄호: () (괄호 안의 표현식이 가장 먼저)
- 지수 연산자: **
- 단항 연산자: -(음수), +(양수), ~(반전)
- 곱셈, 나눗셈, 나머지 연산자 : *, /, //, %
- 덧셈, 뺄셈 연산자 : +, -
- 비교 연산자: <, >, <=, >=, ==, !=
- 논리 연산자: and, or, not
- 멤버 연산자: in, not in
- 항등 연산자: is, is not
- 할당 연산자: +=, -=, *=, /=, //=, %=, **=
- 삼항 조건 연산자: if-else

In [71]:
# 산술 연산자
a = 10
b = 2

In [73]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

12
8
20
5.0
5
0
100

In [88]:
# 할당 연산자
a = 10

In [89]:
a = a + 10

In [90]:
a

20

In [95]:
a += 10

In [96]:
a

10

In [ ]:
a = 5
b = 3

In [98]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [99]:
# 논리 연산자
x = True 
y = False

In [100]:
print(x and y) # and: 둘 다 True일 때 True, 아니면 False
print(x or y) # or: 둘 중 하나가 True일 때 True, 아니면  False
print(not x)
print(not y)

False
True
False
True

In [101]:
# 멤버 연산자
li = ["hi", "python", "hyo"]

In [102]:
print("hi" in li)
print("jun" in li)
print("john" not in li)

True
False
True

In [103]:
# 항등 연산자
x = 10
y = 10

In [105]:
print(x is y)
print(x == 2)

True
False

## Quiz.조언 해주세요!
1. 솔루션을 리스트로 작성
2. 질문 입력
3. 저.. 이거 공부하면 잘 될 수 있을까요?
4. 솔루션 중, 한 가지 대답을 랜덤하게 선택해서 보여줌
    - indexing
    - 해당 index에 해당하는 솔루션 대답을 보여줌

In [23]:
# 랜덤함수
import random

random.randint(1, 10)

1

In [25]:
# 입력함수
data = int(input())
data

1

1

In [6]:
solutions = [
    "포기하지 말고 힘내세요!",
    "그냥 시작하고 열심히 진행하자!",
    "코드 리뷰를 지속적으로 진행하자"
    "핸즈온 머신러닝"
]

In [8]:
import random

while True:
    Question = input("질문을 입력해주세요 : ")
    
    if Question == "q":
        break
    else:
        random_int = random.randint(1, len(solutions)) - 1
        print("=" * 30)
        print(solutions[random_int])

질문을 입력해주세요 : 나를 응원해줘
==============================
포기하지 말고 힘내세요!
질문을 입력해주세요 : 책을 추천해줘
==============================
핸즈온 머신러닝
질문을 입력해주세요 : 대답을 되게 잘 하네
==============================
핸즈온 머신러닝
질문을 입력해주세요 : q

# PEP 8
- Python Enhancement Proposal 8
- 파이썬 코드 작성 규칙(컨벤션)
- **[Python 공식 PEP 8 문서]**(https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 1. 가로 간격
- 들여쓰기(indent)
- 공백 4칸
    - 2칸은 구분이 잘 안 됨
    - 8칸은 간격이 너무 큼
    - 2, 4, 8, 16과 같은 2의 거듭제곱 수를 선호하는 경향
    - 3이나 6같은 수는 고려 대상에 포함하지 않음

In [2]:
for i in range(3):
    print(i)
print(i)

0
1
2
2

In [3]:
for i in range(3):
  print(i)
print(i)

0
1
2
2

In [4]:
for i in range(3):
        print(i)
print(1)

0
1
2
1

## 2. 세로 간격

In [7]:
# 나쁜 예 

class MyCala:
    def __init__():
        pass
    def plus():
        pass
    def minus():
        pass

In [6]:
# 좋은 예

class MyCalc:
    def __init__():
        pass
    
    def plus():
        pass
    
    def minus():
        pass

## 3. 연산자와 식별자 사이에 공백 한 칸

In [ ]:
# 나쁜 예

my_list=[1, 2, 3, 4]
my_list[:i]+my_list[i:]+my_list[i]
1+2, 3+4

In [ ]:
# 좋은 예

my_list = [1, 2, 3, 4]
my_list[:i] + my_list[i:] + my_list[i]
1 + 2, 3 + 4

## 4. 구분자는 뒤쪽에 공백 한 칸

In [9]:
# 나쁜 예

def spam(egg,bacon,ham):
    kcal = [80,100,200]
    
def sapm(egg , bacon , ham):
    kcal = [80 , 100 , 200]

In [10]:
# 좋은 예

def spam(egg, bacon, ham):
    kcal = [80, 100, 200]

## 5. 마침표 앞뒤에는 공백 없음

In [13]:
import random

# 나쁜 예

random . randint(0, 4)

2

In [12]:
# 좋은 예

random.randint(0, 4)

3

## 6. 함수, 메서드, 컨테이너 이름 뒤에는 공백 없음

In [14]:
# 나쁜 예

print ('Hello World')

Hello World

In [15]:
# 좋은 예

print('Hello World')

Hello World

In [17]:
# 나쁜 예

data [2], data    [0:4]

(3, [1, 2, 3, 4])

In [16]:
# 좋은 예

data = [1, 2, 3, 4]
data[2], data[0:3]

(3, [1, 2, 3])

## 7. 괄호 앞뒤에는 공백 없음

In [18]:
# 나쁜 예

def model_fit ( value1, value2, value3 ) :
    feature = [ 180, 75, 19 ]

In [20]:
# 좋은 예

def model_fit(value1, value2, value3):
    feature = [180, 75, 19]

## 8. 코드행 끝의 주석 앞에는 공백 2칸
- 공백이 하나 또는 아예 없는 경우 주석과 코드를 구분하기 어려움

In [23]:
# 나쁜 예

import random

random.randint(1, 10)# random한 숫자를 뽑습니다
random.randint(1, 10) # random한 숫자를 뽑습니다

10

In [25]:
# 좋은 예

random.randint(1, 10)  # random 숫자를 뽑습니다.

7

## 9. 모듈 불러오기 컨벤션

In [27]:
# 나쁜 예

import math, os, sys

In [26]:
# 좋은 예

import math
import os
import sys

import pandas as pd
for bs4 import BeautifulSoup

## 10. 작명 규칙
- snake_case
    - 함수, 메서드, 변수 이름은 소문자 스네이크 케이스로 작성
- CamelCase
    - 클래스

In [28]:
# 나쁜 예

MyData = [1, 2, 3]

def FuncCalc():
    pass

class my_calc():
    pass

In [29]:
# 좋은 예

my_data = [1, 2, 3]

def func_calc():
    pass

class MyCalc():
    pass

### 소소한 내용

In [30]:
print('python')
print("python")

python
python

In [31]:
"python"  # 글자 여러 개  
'p'  # 글자 하나

'p'

# Condition

## 1. if else elif
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if else elif

```python
if condition:  # True 이면 코드를 실행
    code
```

In [1]:
# 조건 부분: bool 데이터 타입 이외의 데이터 타입이 오면 자동으로 bool로 형변환

if True:
    print("if 문 안에 있는 print 코드 입니다.")
print("if 문 밖에 있는 print 코드 입니다")

if 문 안에 있는 print 코드 입니다.
if 문 밖에 있는 print 코드 입니다

In [2]:
if False:
    print("if 문 안에 있는 print 코드 입니다.")
print("if 문 밖에 있는 print 코드 입니다")

if 문 밖에 있는 print 코드 입니다

In [7]:
# int: 0을 제외한 나머지 값은 모두 True
# float: 0.0을 제외한 나머지는 True
# str: "", ''을 제외한 나머지는 True
#list, tuple, dict: [], (), {}을 제외한 나머지는 True

if 1:
    print("if")

print(bool(1))

if
True

In [10]:
if 0:
    print("if")

print(bool(0))

False

In [8]:
if 100:
    print("if")
    
print(bool(100))

if
True

In [12]:
if "hi":
    print("if")
    
print(bool("hi"))

if
True

In [21]:
if [1, 2, 3]:
    print("if")

print(bool([1, 2, 3]))

if
True

In [14]:
if []:
    print("if")

print(bool([]))

False

In [20]:
if {"1" : 1}:
    print("if")
    
print(bool({"1" : 1}))

if
True

In [16]:
if {}:
    print("if")

print(bool({}))

False

In [17]:
if (1, 2):
    print("if")

print(bool((1, 2)))

if
True

In [18]:
if ():
    print("if")
    
print(bool(()))

False

In [23]:
num = 7

if num % 2:
    print("홀수")
    
if num % 2 == 1:
    print("홀수")

홀수
홀수

In [24]:
# 지갑에 돈이 10000원 이상 있으면 택시
# 그렇지 않으면, 걸어서

In [25]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 값니다. 유후~")

if money < 10000:
    print("걸어서 집에 갑니다. ㅠㅠ")
    

# else
if money >= 10000:
    print("택시를 타고 집에 값니다. 유후~")
else:
    print("걸어서 집에 갑니다. ㅠㅠ")

# if - if의 경우 하나가 끝나도 다른 하나가 무조건 실행되므로 비효율적

택시를 타고 집에 값니다. 유후~

In [28]:
# elif

money = 5000

if money >= 10000:
    print("택시")
elif 2000 <= money:
    print("버스")
else:
    print("걷기")

버스

## Quiz. 계좌
1. 계좌에 10000원이 있습니다.
2. 인출 금액을 입력받습니다
3. 인출 금액이 계좌에 있는 금액보다 크면 "인출 불가"
4. 인출 금액이 계좌에 있는 금액보다 작으면 "인출 가능"
5. 마지막에 현재 계좌의 잔액을 출력

In [34]:
account = 10000
draw_money = int(input("인출 금액을 입력하세요 : "))

if draw_money <= account:
    print("인출 가능")
    print(draw_money, "원 인출되었습니다.")
    account -= draw_money
    print(account, "원 남아 있습니다.")
else:
    print("인출 불가")
    print(draw_money - account, "원의 잔액이 부족합니다.")

인출 금액을 입력하세요 : 7000
인출 가능
7000 원 인출되었습니다.
3000 원 남아 있습니다.

## 추가 Quiz

In [ ]:
answer = int(input("5 * 2 = ? "))

if answer == 10:
    print("정답")
else:
    print("오답")

In [62]:
import random

questions = ["5 * 2 = ? ", "3 + 2 = ? ", "9 - 1 = ? "]
answers = [10, 5, 8]

random_int = random.randint(0, len(questions) - 1)
answer = int(input(questions[random_int]))

if answer == answers[random_int]:
    print("정답")
else:
    print("오답")

9 - 1 = ? 8
정답

In [49]:
# 문자열 포맷팅
# format() 함수

account = 10000
draw_money = 5000

print("현재 잔액은 " + str(account) + " 원 입니다.")

# f-string 사용 권장
print (f"현재 잔액은 {account} 원 입니다.")
print (f"현재 잔액은 {account} 원 입니다. 그리고 인출금액은 {draw_money} 입니다.")

print ("현재 잔액은 {} 원 입니다.".format(account))
print ("현재 잔액은 {} 원 입니다. 그리고 인출금액은 {} 입니다.".format(account, draw_money))

print ("현재 잔액은 {} 원 입니다. 그리고 인출금액은 {} 입니다.".format(draw_money, account))
print ("현재 잔액은 {data1} 원 입니다. 그리고 인출금액은 {data2} 입니다.".format(data1 = account, data2 = draw_money))

print("현재 잔액은 %d 원 입니다." %account)
print("현재 잔액은 %d 원 입니다. 그리고 인출 금액은 %d 입니다." %(account, draw_money))

현재 잔액은 10000 원 입니다.
현재 잔액은 10000 원 입니다.
현재 잔액은 10000 원 입니다. 그리고 인출금액은 5000 입니다.
현재 잔액은 10000 원 입니다.
현재 잔액은 10000 원 입니다. 그리고 인출금액은 5000 입니다.
현재 잔액은 5000 원 입니다. 그리고 인출금액은 10000 입니다.
현재 잔액은 10000 원 입니다. 그리고 인출금액은 5000 입니다.
현재 잔액은 10000 원 입니다.
현재 잔액은 10000 원 입니다. 그리고 인출 금액은 5000 입니다.

## 2. 삼항연산자
- 간단한 조건일 경우, if else 구문을 한 줄의 코드로 표현할 수 있는 문법

In [50]:
money = 10000

if money >= 10000:
    print("taxi")
else:
    print("walk")

taxi

In [51]:
print("taxi") if money >= 10000 else print("walk")

taxi

In [52]:
data = 0

if data:
    print("zero?")
else:
    print("zero????")

zero????

In [54]:
result = "not zero" if data else "zero"

In [55]:
print(result)

zero