# 파이썬 문법

## 1. print() 출력 함수

In [ ]:
print(1)

1

In [ ]:
print(2)

2

In [ ]:
a = 1
b = 2

print(a)
print(b)

1
2

In [ ]:
# print() 함수의 옵션
# docstring (shift + tab)
# 함수에 대한 설명
print(1, 2, sep='\t')

1	2

In [ ]:
# 자동완성
print(3)

3

In [ ]:
print('자동완성')
print('오타를 방지할 수 있습니다')

자동완성
오타를 방지할 수 있습니다

## 2. 주석 (comment)

In [ ]:
# 주석: 앞에 # 을 붙이면 파이썬 코드로 실행하지 않습니다
# 코드에 대한 설명이나 특정 코드를 실행시키고 싶지 않을 때 사용
# ctrl(cmd) + /

In [ ]:
print(1)
# print(2)
print(3) # 이 코드는 3을 출력하는 print 함수 입니다.

1
3

## 3. 변수 선언
- RAM 이라는 저장공간에 값을 할당

In [ ]:
# a 는 1 이다 x
# 1 이라는 정수값을 a 라는 변수에 할당했다
a = 1 
print(a)

1

In [ ]:
# 3, 4 값을 각가 d, e 변수에 할당
d, e = 3, 4 
print(d)
print(e)

3
4

In [ ]:
f = g = 5
print(f)
print(g)

5
5

In [ ]:
# 코드 에러 발생 시, 맨 밑부터 확인
# 할당되지 않은 변수를 출력 
print(z)

NameError: name 'z' is not defined

## 4. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_) 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가
        - def, class, list, str, int, float... 
    - 컨벤션 
        - snake case: python_basic
        - camel case: PythonBasic

In [ ]:
# 가능한 형태
name = "yongha"
age = 19
my_var = 3.14
hello_word = 'Hello, World'
IsValid = True

In [ ]:
# 불가능한 형태 
def = "func"  # 예약어를 식별자로 사용 
first-name = 'John'  # 특수문자를 식별자로 사용
2nd_number = 42  # 숫자로 시작하는 식별자
hello word = 'Hello, World'  # 공백을 포함한 식별자

SyntaxError: invalid syntax (2225378942.py, line 2)

## 5. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정

- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입 결정
    ```python
    a = 1 
    ```
- 정적타이핑
    - 변수 선언시 데이터 타입을 직접 설정 후 할당
    ```python
    int a = 1 
    ```

- 데이터 타입 
    - int, float, str, bool
    - list, tuple, dict

In [ ]:
a = 1 # integer 정수
b = 'python' # string 문자(글자)

type(a), type(b)

(int, str)

### 5-1. 기본 데이터 타입
- int: 정수
    - 1, 2, 3 
- float: 소수점
    - 1.0, 3.14, -5.0
- str: 문자(글자)
    - "python", 'string', """three""", '''four'''
- bool: 논리값
    - True False

In [ ]:
a = 1 
b = 1.2 
c = "True"
d = True
f = '1.2'

In [ ]:
type(a), type(b), type(c), type(d), type(f)

(int, float, str, bool, str)

In [ ]:
print(a == b)
print(a == a)

False
True

In [ ]:
print(a + 1)

2

In [ ]:
print(b + 1)

2.2

In [ ]:
print(c + 1)  # int 와 str 은 연산이 불가능

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 논리형 데이터는 연산이 가능합니다. 
# True = 1 
# d + 1 => 1 + 1 
print(d + 1)

2

In [ ]:
# False = 0 
# False + 2 => 0 + 2
print(False + 2)

2

### 5-2. 컨테이너 데이터 타입
- list: 여러 개의 값을 순서대로 담을 수 있고, 수정이 가능한 데이터 타입
- tuple: 리스트와 동일한 성격을 가지는데, 수정이 불가능한 데이터 타입
- dict: 순서가 없고 키(key) 와 값(value)의 쌍으로 이루어진 데이터 타입

In [ ]:
# list 
li = [1, 2, 3]
print(li)

[1, 2, 3]

In [ ]:
type(li)

list

In [ ]:
# tuple 
tp = (1, 2, 3)
print(tp), type(tp)

(1, 2, 3)

(None, tuple)

In [ ]:
# dict
dic = {"key": "value"}
print(dic)

{'key': 'value'}

---

In [ ]:
# 1. 리스트 데이터 생성
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]

In [ ]:
# 2. 리스트 길이 확인
len(my_li)

10

In [ ]:
# 3. 리스트에 값 추가
# append()

my_li.append(111)

In [ ]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111]

In [ ]:
len(my_li)

11

In [ ]:
# 4. 데이터 2개 이상 추가
my_li.append([112, 113])

In [ ]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113]]

In [ ]:
# extend()
my_li.extend([14, 15])
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [ ]:
# insert()
my_li.insert(1, 10)

In [ ]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [ ]:
# 5. 리스트에 특정 값이 있는지 확인!
# 'value' in list 
print(10 in my_li)
print(999 in my_li)

True
False

In [ ]:
# 6. 리스트에서 특정 값 제거
# remove()
my_li.remove(45)

In [ ]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [112, 113], 14, 15]

In [ ]:
my_li.remove([112])

ValueError: list.remove(x): x not in list

In [ ]:
# 인덱싱 작업을 통해 112 데이터를 삭제
my_li[-3].remove(112)

In [ ]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [113], 14, 15]

In [ ]:
my_li.remove([113])

In [ ]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, 14, 15]

In [ ]:
# 7. 리스트에서 특정 값 갯수 세기
# count() 

my_li.count(111)

3

In [ ]:
my_li.count(5)

1

In [ ]:
my_li.count(6)

1

In [ ]:
my_li.count(999)

0

In [ ]:
# 8. 리스트 오름차순 정렬
# sort()

In [ ]:
my_li.sort()
print(my_li)

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111, 111]

In [ ]:
# 9. 리스트 데이터 복사
# 얕은복사와 깊은복사

- 얕은복사: 원본 데이터에 영향을 줍니다
- 깊은복사: 원본 데이터에 영향을 주지 않습니다

In [ ]:
li1 = [4, 1, 10]
li2 = li1

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [ ]:
# li2 리스트 데이터 정렬
li2.sort()

In [ ]:
print(li2)

[1, 4, 10]

In [ ]:
print(li1)

[1, 4, 10]

In [ ]:
# 깊은 복사 
import copy 

li1 = [4, 1, 10]
li2 = copy.deepcopy(li1)  # 깊은복사

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [ ]:
li2.sort()
print(li2)

[1, 4, 10]

In [ ]:
print(li1)

[4, 1, 10]

In [ ]:
# 10. pop()
# 가장 마지막 데이터를 출력하고, 
# 출력한 데이터를 리스트에서 삭제

In [ ]:
my_li

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111, 111]

In [ ]:
my_li.pop()  # ctrl(cmd) + enter

111

In [ ]:
my_li

[1, 2, 3, 4, 5, 6, 10, 10, 14, 15, 111, 111]

In [ ]:
# 11. index()

my_li.index(3)

2

In [ ]:
# 12. 리스트끼리 연산

a_li = [1, 2, 3]
b_li = [7, 8, 9]

print(a_li + b_li)

[1, 2, 3, 7, 8, 9]

In [ ]:
# 13. 리스트에는 여러 데이터 타입을 할당 할 수 있습니다

li = [1, 2, "3", [5, 6], (7, 8), {"key":"value"}, True, False]

In [ ]:
print(li)

[1, 2, '3', [5, 6], (7, 8), {'key': 'value'}, True, False]

In [ ]:
# 14. 인덱싱 (별표 백만개)

In [ ]:
print(type(li[2]))

<class 'str'>

In [ ]:
li[3], type(li[3])

([5, 6], list)

In [ ]:
li[3:5]

[[5, 6], (7, 8)]

In [ ]:
li[1:6]

[2, '3', [5, 6], (7, 8), {'key': 'value'}]

In [ ]:
li[1:6:2]

[2, [5, 6], {'key': 'value'}]

---

## 리스트 인덱싱과 슬라이싱 연습!
- 인덱싱(indexing)
    - 단일 요소를 선택할 때 인덱싱
    - 리스트에서 특정 위치에 있는 요소에 접근하는 것을 의미
    - 인덱스는 0부터 시작하며, list[]를 사용해서 특정 위치 요소를 가져옵니다
    - 예: my_li[2] 는 my_li의 세 번째 요소를 가져옵니다.
    - 요소(element): 리스트가 가지고 있는 데이터 하나 하나를 의미
- 슬라이싱(slicing)
    - 연속된 범위의 요소를 선택하기 위해 사용
    - list[start:end:strid]
    - start 인덱스는 값이 포함되고, end 인덱스는 값이 포함되지 않습니다
    - 예: my_li[1:4] 는 my_li의 두 번째 요소부터 네 번째 요소까지를 가져옵니다

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_str = "Hello, World!"

In [ ]:
my_list[1]

20

In [ ]:
my_list[0:3]

[10, 20, 30]

In [ ]:
my_list[::2]

[10, 30, 50, 70, 90]

In [ ]:
# mission 1 
# 90 값을 출력해주세요
my_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list[8]

90

In [ ]:
my_list[-2]

90

In [ ]:
# 문자열에서 세 번째 문자에 접근하기
my_str

'Hello, World!'

In [ ]:
my_str[3]

'l'

In [ ]:
my_str[2]

'l'

In [ ]:
# 1. 숫자 리스트에서 인덱스 2부터 6까지 출력하기

In [ ]:
my_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list[2:6]

[30, 40, 50, 60]

In [ ]:
my_list[2:7]

[30, 40, 50, 60, 70]

In [ ]:
print(my_str)

Hello, World!

In [ ]:
my_str

'Hello, World!'

In [ ]:
# 인덱싱을 이용한 리스트 데이터 값 수정
my_list[2] = 300

In [ ]:
my_list

[10, 20, 300, 40, 50, 60, 70, 80, 90, 100]

## 5-3. tuple ()
- 리스트와 동일한 성격
- 튜플은 데이터 수정이 불가능
- 튜플은 리스트보다 같은 데이터를 가졌을 때 메모리 공간을 더 적게 사용

In [ ]:
#tuple
tp1 = (1, 2, 3)
tp2 = (4, 5, 6)
tp3 = 7, 8, 9

In [ ]:
print(tp1), type(tp2)

(1, 2, 3)

(None, tuple)

In [ ]:
print(tp3), type(tp3)

(7, 8, 9)

(None, tuple)

In [ ]:
# 리스트와 튜플의 저장공간 차이 비교

import sys

li = [1, 2, 3]
tp = (1, 2, 3)

In [ ]:
print(sys.getsizeof(li))
print(sys.getsizeof(tp))

88
64

In [ ]:
li[1] = 10

In [ ]:
print(li)

[1, 10, 3]

In [ ]:
tuple[1] = 10

TypeError: 'type' object does not support item assignment

## 5-4. dictionary{}
- 순서가 없고 {"key":"value"}로 구성되어 있는 데이터 타입

In [ ]:
dic = {1:"one", "two":2, "three":[1, 2, 3], "four":"python", "five":(1, 2, 3)}

In [ ]:
print(dic)

{1: 'one', 'two': 2, 'three': [1, 2, 3], 'four': 'python', 'five': (1, 2, 3)}

In [ ]:
# 인덱싱이 아닌 key 값으로 접근
print(dic[1])
print(dic[0])

one

KeyError: 0

In [ ]:
dic["two"]

2

In [ ]:
# key로 value에 접근해서 value를 변경
# key는 수정이 불가능

dic["two"] = 123

In [ ]:
print(dic)

{1: 'one', 'two': 123, 'three': [1, 2, 3], 'four': 'python', 'five': (1, 2, 3)}

In [ ]:
# key 값에는 리스트 불가 단일 데이터

{[1, 2, 3]: "value"}

TypeError: unhashable type: 'list'

In [ ]:
# 도시: seoul, daegu, busan
# 인구: 500, 300, 200

In [ ]:
# dictionary
data = {"seoul":500, "daegu":300, "busan": 200}
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

In [ ]:
#list
city = ["seoul", "daegu", "busan"]
pop = [500, 300, 200]

In [ ]:
# zip(list1, list2)
data = dict(zip(city, pop))
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

## 6. 형변환
- 데이터 타입 변화
- int, float, str, bool, list, tuple, dict

In [ ]:
a = 1
b = "2"

In [ ]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a + int(b)

3

In [ ]:
print(int(a) + int(b))
print(float(a) + float(b))
print(int(a) + float(b)) # 정수 소수 연산은 소수
print(str(a) + b)
print(type(str(a) + b))
print(int(str(a) + b))
print(type(int(str(a) + b)))

3
3.0
3.0
12
<class 'str'>
12
<class 'int'>

In [ ]:
# 형변환이 안 되는 경우
text = "python"
int(text)

ValueError: invalid literal for int() with base 10: 'python'

## 7. 연산자의 종류와 우선순위
- 괄호: () (괄호 안의 표현식이 가장 먼저)
- 지수 연산자: **
- 단항 연산자: -(음수), +(양수), ~(반전)
- 곱셈, 나눗셈, 나머지 연산자 : *, /, //, %
- 덧셈, 뺄셈 연산자 : +, -
- 비교 연산자: <, >, <=, >=, ==, !=
- 논리 연산자: and, or, not
- 멤버 연산자: in, not in
- 항등 연산자: is, is not
- 할당 연산자: +=, -=, *=, /=, //=, %=, **=
- 삼항 조건 연산자: if-else

In [ ]:
# 산술 연산자
a = 10
b = 2

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

12
8
20
5.0
5
0
100

In [ ]:
# 할당 연산자
a = 10

In [ ]:
a = a + 10

In [ ]:
a

20

In [ ]:
a += 10

In [ ]:
a

10

In [ ]:
a = 5
b = 3

In [ ]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [ ]:
# 논리 연산자
x = True 
y = False

In [ ]:
print(x and y) # and: 둘 다 True일 때 True, 아니면 False
print(x or y) # or: 둘 중 하나가 True일 때 True, 아니면  False
print(not x)
print(not y)

False
True
False
True

In [ ]:
# 멤버 연산자
li = ["hi", "python", "hyo"]

In [ ]:
print("hi" in li)
print("jun" in li)
print("john" not in li)

True
False
True

In [ ]:
# 항등 연산자
x = 10
y = 10

In [ ]:
print(x is y)
print(x == 2)

True
False

## Quiz.조언 해주세요!
1. 솔루션을 리스트로 작성
2. 질문 입력
3. 저.. 이거 공부하면 잘 될 수 있을까요?
4. 솔루션 중, 한 가지 대답을 랜덤하게 선택해서 보여줌
    - indexing
    - 해당 index에 해당하는 솔루션 대답을 보여줌

In [ ]:
# 랜덤함수
import random

random.randint(1, 10)

1

In [ ]:
# 입력함수
data = int(input())
data

1

1

In [ ]:
solutions = [
    "포기하지 말고 힘내세요!",
    "그냥 시작하고 열심히 진행하자!",
    "코드 리뷰를 지속적으로 진행하자"
    "핸즈온 머신러닝"
]

In [ ]:
import random

while True:
    Question = input("질문을 입력해주세요 : ")
    
    if Question == "q":
        break
    else:
        random_int = random.randint(1, len(solutions)) - 1
        print("=" * 30)
        print(solutions[random_int])

질문을 입력해주세요 : 나를 응원해줘
==============================
포기하지 말고 힘내세요!
질문을 입력해주세요 : 책을 추천해줘
==============================
핸즈온 머신러닝
질문을 입력해주세요 : 대답을 되게 잘 하네
==============================
핸즈온 머신러닝
질문을 입력해주세요 : q